body {
    background-image: url(background.jpg);
    background-size: cover;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.center {
    justify-content: center;
    display: flex;
    align-items: center;
}


h1 {
    text-align: center;
    margin: 30px;
}

h2 {margin: 30px;}

h3 {
    text-decoration: underline;
    margin: 30px;
    text-align: center;
}

h4 {
    text-align: center;
    margin: 30px;
}

p {
    text-align: justify;
    font-size: 14px;
    margin: 10px;
}

div {
    background-color: rgba(25, 0, 46, 0.897);
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 2%;
    border-style: double;
    border-left: 50px;
    border-right: 50px;
    border-width: 6px;
    background-size: 50px;
}

img {
    width: 180px;
    border-radius: 50%;
}
